#colorPicker
{
	position: absolute;
	padding: 6px;
	border-left: 1px silver solid;
	border-top: 1px silver solid;
	border-right: 1px gray solid;
	border-bottom: 1px gray solid;
}

#colorPicker table
{
	border: 0px;
	border-spacing: 0px;
	padding: 0px;
	border-collapse: collapse;
	margin: 0px;
}

#colorPicker tr
{
	height: 18px;
	padding: 0px;
	margin: 0px;
}

#colorPicker td
{
	border: gray 1px solid;
	width: 18px;
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
	background-position: center;
}

#colorPicker div
{
	padding: 0px;
	margin: 0px;
}